@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora&family=Playfair+Display&family=Yeseva+One&display=swap');

body{
    font-family: "Garamond", "Georgia", "Times New Roman", serif;
    font-size: 17px;
    color:#222;
    line-height: 1.5;
    max-width:960px;
    margin:auto;
    background-color: #F5F5F5;
}

ul{
    list-style-type: circle;
}
caption{
    margin-bottom:5px;
}

nav{
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

#nav{
    margin-left:8px;
    margin-right:8px;
    padding-top:15px;
    border:2px solid;
    border-color:#6C91C2;
}

#figure{
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
}

p{
    margin-left:5px;
}

#geography{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "header header"
    "mountain area"
    "mountain location"
    "mountain terrain"
}

#header{
    grid-area:header;
}

#mountain{
    grid-area:mountain;
}

#location{
    grid-area:location;
}

#terrain{
    grid-area:terrain;
}

table{
    margin:auto;
    background-color: #CEEAF7;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    border:2px solid;
}

td{
    padding-right:10px;
    text-align:center;
}

th{
    padding-bottom:5px;
}

audio{
    background-color:#81C3D7;
}

div{
    max-width: 960px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
}

h1{
    font-family: "Yeseva One", "Segoe Script", cursive;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-size:55px;
    letter-spacing:2px;
    color:#427AA1;
}

h2,
h3,
h4{
    font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
    font-weight: 400px;
    letter-spacing:2px;
    background-color:#CEEAF7;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    color:#427AA1;
}

footer {
    font-size:14px;
}

a{
    color:#6C91C2
}

a:link{
    color: #6C91C2;
}

a:hover{
    color:#C41E3A;
}

a:visited{
    color:#16425B;
}

a:active{
    color:#81C3D7;
}
