@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=EB+Garamond&display=swap');

/*decorative*/
body{
    font-family: "Garamond", "Georgia", "Times New Roman", serif;
    font-size: 17px;
    color:#262220;
    line-height: 1.5;
    background-color:#F9F7F7;
    padding-top:100px;
    margin:auto;
    max-width:960px;
}

h1,
h2,
h3{
    font-family: "Abhaya Libre", "Georgia", "Times New Roman", serif;
    text-align:center;
    font-weight:100;
    color:#E77F7F;
}

h1{
    font-size:55px;
    letter-spacing:3px;
    margin:auto;
    position:relative;
    right:20px;
}

h2{
    font-size:35px;
    letter-spacing:2px;
}

h3{
    font-size:25px;
}

a{
    color:#E77F7F;
}

a:link{
    color: #E77F7F;
    text-decoration:none;
}

a:visited{
    color:#F13C3C;
}

a:hover{
    color:#FFC0C0;
}

a:active{
    color:#EA2A7A;
}

/*grid*/

nav{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:center;
    max-width:960px;
    margin:auto;
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
    background-color:#FBF1F1;
}

#tiny{
    position:relative;
    right:50px;
}

section{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px; 
    padding-top:10px;
    padding-bottom:10px;
}

div{
    margin:auto;
}

.bouncehouse{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
    position:relative;
    justify-content: center;
}

.header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px; 
    padding-bottom:100px;
    padding-top:100px;
}

#booking{
    display:flex;
    flex-flow:column;
    padding:50px;
    background-color:#F0D9D9;
    border-radius:50px;
    text-align:center;
}

button{
    background-color: #E77F7F;
    border-radius:50px;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Garamond", "Georgia", "Times New Roman", serif;
}

button:visited{
    background-color:#F13C3C;
}

button:hover{
    background-color:#FFC0C0;
}

button:active{
    background-color:#EA2A7A;
}

footer{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    padding-top:25px;
    padding-bottom:40px;
}

#ready{
    padding:50px;
    background-color:#F0D9D9;
    border-radius:50px;
    position:relative;
    object-position:center;
}

figcaption{
    text-align: center;
}

[src$='.svg'] {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: text-bottom;
  }

#ready[src$='.svg'] {
    width: 50px;
    height: auto;
    margin-right: 8px;
    vertical-align: text-bottom;
}